body {
    margin: 0;
    padding: 0
}

#background {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    overflow: hidden;
}

/* Container && Page */
#container {
    position: relative;
    left: 0;
    white-space: nowrap; /* 防止内部元素换行 */
    width: 100%;
    height: 100vh;
    margin-top: 0;
    font-size: 0; /* 消除子元素空隙 */
    transition: 1s;
}
#container.changing {
    height: 86vh;
    margin-top: 7vh;
}

div.page {
    display: inline-block;
    width: 100vw;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
div.page span {
    margin: 2vw;
    font-size: xx-large;
    color: #333;
}
div.page:not(:last-child) {
    margin-right: 10vw
}
/* Container && Page End */

/* Button */
button.btn-pre,
button.btn-next {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
button.btn-pre:hover, button.btn-pre:focus,
button.btn-next:hover, button.btn-next:focus {
    background-color: #555;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
button.btn-pre:active,
button.btn-next:active {
    background-color: #444;
}
button.btn-pre {
    left: 2vw;
    bottom: 4vh;
}
button.btn-next {
    right: 2vw;
    bottom: 4vh;
}

img.btn-pre,
img.btn-next {
    width: 100%;
    height: 100%;
}
/* Button End */
