<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>折叠伸缩图片</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="outer">
        <div id="img-container">
            <div class="img" tabindex="999">
                <img src="./miku01.jpeg">
            </div>
            <div class="img" tabindex="999">
                <img src="./miku02.jpeg">
            </div>
            <div class="img" tabindex="999">
                <img src="./miku03.jpeg">
            </div>
            <div class="img" tabindex="999">
                <img src="./miku04.jpeg">
            </div>
            <div class="img" tabindex="999">
                <img src="./miku05.jpeg">
            </div>
        </div>
    </div>
</body>
</html>